$primary: #171a21;
$secondary: #0f1014;
$tertiary: #424b5a;
$quternary: #414954;
$text-primary: #939aa4;
$text-secondary: #a1a9b3;
$primary-blue: #1b367b;
$secondary-blue: #2f6182;
$tertiary-blue: #5f9fc2;
$primary-green: #4b6830;
$secondary-green: #b3eb06;
$tertiary-green: #5c7b11;